body {
    position: relative;
    height: 2000px; 
  }

  #progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #ccc;
  }

  #progress-bar {
    height: 100%;
    width: 0;
    background-color:deeppink;
    transition: width 0.3s ;
  }